/* Universal styling to remove list style/text decoration/margin */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* adding fonts*/
body {
    font-family: 'Overpass', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Overpass', sans-serif;
}

/* sticky for the navbar */
.sticky {
    position: sticky;
    top: 0px;
}

/* Styling for navbar, also flexbox container */
nav {
    width: 100%;
    height: 80px;
    background-image: linear-gradient(50deg, #627b70 0%, #cbc6a9 100%);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

/* styling for logo text */
.navtext {
    font-size: 2em;
    text-shadow: 1px 1px 2px #cbc6a9;
    text-align: center;
}

/* changing container for links to also be a flexbox */
.navlinks {
    display: flex;
}

/* styling for links */
nav ul {
    margin-left: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    padding: 5px 10px;
    transition: all 0.2s ease-in;
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: white;
    color: #627b70;
}

/* hides github and email icons for mobile */
.icons {
    display:none;
}


/* Styling for header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-image: url("mountains.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid #627b70;
    margin-bottom: 10px;
}

.top-txt-container {
    padding: 5px;
    text-align: center;
    color: white;
    letter-spacing: 0.5em;
    text-shadow: 2px 2px 3px #627b70,
    3px 3px 3px #627b70;
    transition: all 0.5s ease-in;
    text-transform: lowercase;
}

.top-txt-container h1 {
    font-size: 4em;
    text-align: center;
}

.top-txt-container h2 {
    font-size: 2em;
    text-align: center;
}

.top-txt-container h3 {
    font-size: 2em;
}

.top-txt-container h4 {
    font-size: 2em;
}


.top-txt-container:hover {
    transform: scale(1.1);
    color:#627b70;
    text-shadow: -1px -1px 3px #cbc6a9,
    5px 5px 5px #cbc6a9;
}


/* Styling main sections */
section {
    margin: auto;
    background-color: white;
    margin-right: 100px;
    text-align: center;
    color: #040504;
    letter-spacing: 0.2em;
    margin-bottom: 100px;
}

section h2 {
    margin-bottom: 60px;
    margin-top: 50px;
    margin-right: 150px;
    background-color: #627b70;
    color: white;
    letter-spacing: 0.2em;
    width: 107.3%;
    text-align: center;
}

/* fixing alignment for image in about section */
#about img {
    float: left;
    margin-bottom: 50px;
    margin-top: -25px;
    margin-left: 40px;
    border-radius: 100px;
    text-align: center;
}

section h3 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px;
    transform: scale(1.1);
    color: #627b70;
    text-shadow: -1px -1px 3px #cbc6a9
    text-transform: lowercase;
    .menuitem > span {
    font-family: 'Overpass', sans-serif;
    width:107.3%;
    

section h4 {
    text-align: center;
    margin-bottom: 45px;
    width: 100%
    transform: scale(1.1);
    color: #627b70;
    text-shadow: -1px -1px 3px #cbc6a9
    text-transform: lowercase;
    .menuitem > span {
    font-family: 'Overpass', sans-serif;
    display: inline-block;
}

section h5 {
    width: 100%
    margin-right 100px;
    background-color: white;
    margin-right: 100px;
    text-align: center;
    color: #627b70;
    letter-spacing: 0.3em;
}




.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* Media queries, change layout to vertical bar when screen is big enough */
@media screen and (min-width: 20px) {
    .sticky {
        position: fixed;
        left: 0;
    }

    nav {
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: stretch;
    }

    nav ul {
        margin: 0px;
        align-items: center;
        padding: 10px;
    }

    .navlinks {
        flex-direction: column;
    }

    nav ul li a{
        width: 100%;
    }

    main, footer, header {
        margin-right: 100%;
        
    }

    /* displaying icons on desktop layout */
    .icons {
        display: inline-block;
        text-align: center;
        flex-wrap: 100;
    }
}